:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  width: 80%;
}

.slider input {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* margin-bottom: 20px; */
}

.description {
  margin-bottom: 40px;
}

.rigth {
  display: flex;
  flex-direction: row;
}

.displayColor {
  /* display: flex;
  flex-direction: column; */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  float: right;
}

button {
  /* position: relative; */
  float: right;
  margin-top: 5px;
  padding: 20px;
  background-color: rgb(87, 235, 87);
}

@media (min-width: 300px and max-width: 500px){
  .displayColor {
    width: 5rem;
    height: 5rem;
  }

  .button {
    padding: 5px;
  }
}
